<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-button slot="end" fill="clear" (click)="presentActionSheet()"> 
      <ion-icon style="color:#fff;" name="menu"  ></ion-icon>
    </ion-button>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    
    <ion-item *ngFor="let chat of chatRooms" (click)="openChat(chat)">
      <ion-avatar slot="start">
        <ion-img [src]="chat.image"></ion-img>
      </ion-avatar>  
      <ion-label>
        <h2><b>{{chat.name}}</b></h2>
        
        <p>{{chat.description}}</p>

      </ion-label>
    </ion-item>
  </ion-list>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="logoutButton" (click)="onLogout()">Logout</ion-fab-button>
  </ion-fab>
  
</ion-content>
